<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Search</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">

       // google.load("visualization", "1", {packages:["columnchart"]});
       google.load('visualization', '1', {packages: ['corechart', 'bar']});
        function drawChart(json) {

            var options = {height: 240, is3D: true, title: 'Drug Recalls'};
            var dt2 = new google.visualization.DataTable();
            dt2.addColumn('date', 'Date');
             for ( i = 0; i < json.final.length; i++){
                dt2.addColumn('number', 'Count'+i);
             }
            $.each(json.final, function(a,p) {
                $.each(p.results, function(idx, obj) {
                   myrow = [];
                    myrow.push(new Date(obj.time.substring(0,4)+'-'+obj.time.substring(4,6)+'-'+obj.time.substring(6,8)));
                    for ( i = 0; i < json.final.length; i++){
                        if(i== a)
                            myrow.push(obj.count);
                        else
                            myrow.push(null);
                    }
                    dt2.addRow(myrow);

                });
            });
            //var chart = new google.visualization.AreaChart(document.getElementById('result'));
            var chart = new google.visualization.ColumnChart(document.getElementById('result'));
            chart.draw(dt2, options);
        }

    </script>
</head>
<body>

<div id="error">
{% if error %}

<p style="color: red;">Please submit a VALID search term.</p>
{% endif %}
</div>
<form action="/spike/search/" method="post" id="searchForm">{% csrf_token %}
    Drug Name: <input type="text" name="drug_name" id="drug_name">  </br>
    Start Date e.g. 20040101 : <input type="text" name="start_date" id="start_date"> </br>
    End Date e.g. 20160101 : <input type="text" name="end_date" id="end_date"> </br>

    <input type="submit" value="Search">
</form>

<div id="result"></div>
<script>
 // Submit post on submit
    $('#searchForm').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        create_post();
    });

function create_post() {
  console.log("create post is working!") // sanity check
    $.ajax({
        url : "/spike/search/", // the endpoint
        type : "POST", // http method
        dataType: "json",
            data : {
                drug_name :  $('#drug_name').val(),
                start_date :  $('#start_date').val(),
                end_date :  $('#end_date').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
                },
            success : function(json) {
              drawChart(json);
              // alert(json);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#error').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
    });

};


</script>

</body>
</html>