<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Search</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" href="http://css-spinners.com/css/spinners.css" type="text/css">

    <script type="text/javascript">

       // google.load("visualization", "1", {packages:["columnchart"]});
       google.load('visualization', '1', {packages: ['corechart', 'bar']});
        function drawChart(json) {
            $("#result").html(" ");
            $("#result_errors").html("");
            var options = {height: 400, is3D: true, title: 'Drug Report'};
            var dt2 = new google.visualization.DataTable();
            dt2.addColumn('date', 'Date');
            console.log(json.final);
            var d = $("#druglist .btn-success .drug_name"); //list of drugs that are Clicked for Legend
            $.each(json.final, function(a,p) {
                if(p){
                    dt2.addColumn('number', $(d[a]).text());
                }
             });
            $.each(json.final, function(a,p) {
                if(p){
                    $.each(p.results, function(idx, obj) {
                       myrow = [];
                        myrow.push(new Date(obj.time.substring(0,4)+'-'+obj.time.substring(4,6)+'-'+obj.time.substring(6,8)));
                        for ( i = 0; i < json.final.length; i++){
                            if(i== a)
                                myrow.push(obj.count);
                            else
                                myrow.push(null);
                        }
                        dt2.addRow(myrow);

                    });
                } else {
                    $("#result_errors").append("<p class='text-danger'><b>"+$(d[a]).text() + "</b> was not found in Date Range<p>")
                }
            });
            //var chart = new google.visualization.AreaChart(document.getElementById('result'));
            var chart = new google.visualization.ColumnChart(document.getElementById('result'));
            chart.draw(dt2, options);
             $("#loading").hide();
            $("#result").html();
        }
        
    </script>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <style>
     .btn-group-vertical {

        display:block;
     }
        .btn-group-vertical .btn{
            margin-bottom:5px;
            text-align: left;
        }

        .btn .drug_name {
            padding-left:30px;
            font-weight: bold;
        }

        #showHideDrugs {
            color:#000033;
            text-align: center;
        }
        #showHideDrugs:hover {
            font-weight:bold;
        }

.add-on .input-group-btn > .btn {
  /*border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}


#drugList {
    margin-top:10px;
}
    </style>

</head>
<body>
<div class="container">
<h1 style="text-align:center;">Top Drug Interactions</h1>
<div class="bs-docs-section">
<div class="row">
    <div id="drugs" class="col-md-2">
    Top 20 Drugs Reported: 
    <div class="input-group add-on">
      <input type="text" class="form-control" placeholder="Search Drugs" name="srch-term" id="seachDrugName" style="padding-left:5px;">
      <div class="input-group-btn">
        <button class="form-control btn btn-default" type="submit"><i class="glyphicon glyphicon-search" id="searchDrug"></i></button>
      </div>
    </div>

           

        <div id="drugList" class="btn-group-vertical">
        </div>
    
    <div id="showHideDrugs">...See More...</div>
    
    </div>


    <div id="drugs" class="col-lg-10">

            <form class="form-horizontal" action="/spike/search/" method="post" id="searchForm">{% csrf_token %}
              <fieldset>
                <div class="form-group">
                    <input type="hidden" id="drug_name" name="drug_name" value="Tylenol">
                    <input type="hidden" name="start_date" id="start_date" value="20140101">

                    <input type="hidden" name="end_date" id="end_date" value="20150101">
                    <label for="dateRange" class="col-lg-2 control-label">Date Range:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" name="dateRange" id="dateRange" value="">
                        
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" id="submitForm">Search</a>
                        <div id="error">
                            
                        </div>

                    </div>
                </div>
              </fieldset>
            </form>
            <div style="text-align:center; margin-top:50px;">
                <div id="loading" class="spinner-loader">
                  Loading…
                </div>
            </div>
            <div id="result_errors" class="text-danger"></div>
            
            <div id="result"></div>
</div>
</div>
</div>
<script>
$(document).ready(function(){

 // Submit post on submit
    $('#searchForm').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        create_post();
    });

    $("#submitForm").click(function(){
        
        $('#searchForm').submit();
    });
    
    $("#searchDrug").click(function(){
        searchDrug();
    })

    //instantiate dateRange Picker
    $('#dateRange').daterangepicker({
        "showDropdowns": true,
        "ranges": {
            
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
            'This Year' : [moment().startOf('year'), moment().endOf('year')],
            'Last Year' : [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        },
        "parentEl": "dateRange",
        "startDate": "01/01/2015",
        "endDate": "12/31/2015"
    }, function(start, end, label) {
      console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        $("#start_date").val(start.format('YYYYMMDD'));
        $("#end_date").val(end.format('YYYYMMDD'));
        console.log($("#start_date").val());
        console.log($("#end_date").val());
        graph_drugs();
    });
    

    get_drugs();
});
function swapDrug(elem) {
    $(elem).toggleClass("btn-success .btn-default").find("> span").toggleClass("glyphicon-minus glyphicon-plus");
}

function graph_drugs(){
    $("#loading").show();
    $("#result").html("");
    $("#result_errors").html("");
    var drugs = [];
    $("#druglist .btn-success .drug_name").each(function(){
        drugs.push($(this).text());
    })
    $("#drug_name").val(drugs.toString());
    $("#searchForm").submit();
}

function get_drugs() {
    $.ajax({
        url : "/spike/get-drug-names/",
        type: "GET",
        dataType: "json",
        success :function(json) {
            console.log("number of results: " + json.results.length); //number of drugs
            $.each(json.results, function(i,result){
                var href = $('<a>', {href:'javascript:void(0)',id:result.term, 'class':'btn btn-default btn-sm'});
                var glyph = $('<span>', {'class':'glyphicon glyphicon-minus','aria-hidden':'true'});
                var drugSpan = $('<span>', {'class':'drug_name'});
                $("#drugList").append(href.append(glyph.append(drugSpan.append(result.term))));
            })

            for (i=0;i<6;i++) {
                swapDrug($("#druglist a:nth-child("+i+")"));
            }

            $("#drugList a").click(function(e){
                swapDrug($(this));
                graph_drugs();
            })

            graph_drugs();

            collapseList();
        }
    })
}
function parseDrugs(json_obj){
    //alert(json_obj[0].term)
}

function collapseList(){
     //show/hide drug toggle
    var $div = $("#drugList"),
        $sw = $("#showHideDrugs"),
        toggleState = true;

    $("#drugList").each(function() {
        $.data(this, "realHeight", $(this).height());
    }).css({overflow:'hidden',height:'195px'});

    $sw.click(function() {
        if(toggleState) {
            $div.animate({height:$div.data("realHeight")},600);
            $("#showHideDrugs").html("...See Less...");
            
        } else {
            $div.animate({height:'195px'},600);
            $sw.html("..See More...");
          
        }
        toggleState = !toggleState
    });
}

function searchDrug() {
    $drugName = $("#seachDrugName").val();
    $.ajax({
        url : "/spike/search/",
        type: "POST",
        dataType: "json",
        data: {
            drug_name : $drugName,
            start_date :  $('#start_date').val(),
            end_date :  $('#end_date').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        success :function(json) {
            //$("#result_errors").html("<span style='color:300'>" + $drugName+" was not found in the dataset</span>");
            if(json.final[0]) {
                //console.log(json.final[0].results);
                var href = $('<a>', {href:'javascript:void(0)',id:$drugName, 'class':'btn btn-default btn-success btn-sm'});
                var glyph = $('<span>', {'class':'glyphicon glyphicon-plus','aria-hidden':'true'});
                var drugSpan = $('<span>', {'class':'drug_name'});
                $("#drugList").prepend(href.append(glyph.append(drugSpan.append($drugName)))); 
                
                $("#"+$drugName).click(function(e){
                    swapDrug($(this));
                    graph_drugs();
                })
            
                graph_drugs();
            } else {
                $("#result_errors").html("There is no Drug " + $drugName + " in the data set.");
            }
        },
        
    })
}

function create_post() {
    $.ajax({
        url : "/spike/search/", // the endpoint
        type : "POST", // http method
        dataType: "json",
            data : {
                drug_name :  $("#drug_name").val(),
                start_date :  $('#start_date').val(),
                end_date :  $('#end_date').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
                },
            success : function(json) {

              drawChart(json);
              // alert(json);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#error').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
    });

};


</script>

</body>
</html>